  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/glibyte_all.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_footer.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_flex.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_cards.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_icon.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/gb_color.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='fonts/font-awesome/4.7.0/css/font-awesome.min.css') }}">
  <script src="{{ url_for ('static', filename='js/jquery-3.3.1.js') }}"></script>
  
</head>
<body>
  <!--Header-->
  <div class="gb-header">
    <a href="/">
    <div class="logo">
      <h1>
     Mivex
    </h1>
    </div>
    </a>

    <!-- Search  (gb_header) -->
    <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Busca productos, servicios y más..." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <!-- ubicacion -->
    <button onclick="geoFindMe()" id="btn-location"><i class="fa fa-map-marker"></i> Ubicacion</button>
    <div id="out"></div> 
  </div>
 

  </div>
  <!--Fin Header-->
  <div class="row">
  <!-- Menu -->
  <div class="gb-menu" id="Menu">
      <ul>
          <li><a class="active-menu">Mivex</a></li>
          <li><a href="/">Inicio</a></li>
          <li><a href="{{ url_for ('ofertas')}}">Ofertas</a></li>
          <li><a href="{{ url_for ('productos')}}">Productos</a></li>
          <li><a href="{{ url_for ('servicios')}}">Servicios</a></li>
          <li><a href="{{ url_for ('tiendas')}}">Tiendas</a></li>
          <li><a href="javascript:void(0);" class="icon" onclick="menuResponsive()"><i class="fa fa-bars"></i></li>
    </a>
      </ul>
  </div>
  <!-- fin Menu-->
  <!-- Login -->
  <nav class="gb-login">
      <a href="#">Ingresa</a>
      <a href="{{ url_for ('registro')}}">Registrate</a>
      <a href="#!"><i class="icon-cart" style="font-size: 14px;"></i></a>
  </nav>
</div>
<!-- Spinner -->
<div id="gb-spinner-loading">
    <div class="gb-spinner-bounce"></div>
    <div class="gb-spinner-bounce2"></div>
    <div class="gb-spinner-bounce3"></div>
</div>

<!--Contenido-->
{% block content %}

{% endblock %}
<!--Fin contenido-->

<!--Footer-->
  <footer class="gb-footer">
    <div class="columna">
                <div class="fila">
                    <div class="columna">
                        <h5>
                            Información
                        </h5>
                        <div class="lista1">
                            <ul>
                                <li>
                                    <a href="#!">
                                        Sobre nosotros
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columna">
                        <h5>
                            Legal
                        </h5>
                        <div class="lista1">
                            <ul>
                                <li>
                                    <a href="#!">
                                        Términos y condiciones
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">
                                        Política de privacidad
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="columna">
                        <h5>
                            Dirección
                        </h5>
                        <div class="lista1">
                            <ul>
                                <li>
                                    <a href="#!">
                                        Direccion, CP, La Piedad.
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columna">
                        <h5>
                            Contacto
                        </h5>
                        <div class="lista1">
                            <ul>
                                <li>
                                    <a href="#!">
                                        Tel: (352) 000000
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columna social">
                        <h5>
                            Redes Sociales
                        </h5>
                        <div class="lista1">
                            <ul>
                                <li>
                                    <a href="#!" target="_blank" class="icon-facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" target="_blank" class="icon-twitter">
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <h6>
                        © 2019, Copyright, Web Site by Glibyte.
                    </h6>
            </div>
  </footer>

<!-- Nav Responsive -->
<script>
    //Loader
window.onload = function(){
    var contenedor = document.getElementById('gb-spinner-loading');
    contenedor.style.visibility = 'hidden';
    contenedor.style.opacity = '0';
};

    //menu responsive
function menuResponsive() {
  var x = document.getElementById("Menu");
  if (x.className === "gb-menu") {
    x.className += " responsive";
  } else {
    x.className = "gb-menu";
  }
}


    //paginacion
    $(document).ready(function(){
        $('.next').click(function(){
            $('.paginacion').find('.pageNumber.active-pagination').next().addClass('active-pagination');
            $('.paginacion').find('.pageNumber.active-pagination').prev().removeClass('active-pagination');
        })
        $('.prev').click(function(){
            $('.paginacion').find('.pageNumber.active-pagination').prev().addClass('active-pagination');
            $('.paginacion').find('.pageNumber.active-pagination').next().removeClass('active-pagination');
        })
    });

    //location
    function geoFindMe() {
  var output = document.getElementById("out");
  let btn = document.getElementById("btn-location");
  if (!navigator.geolocation){
    output.innerHTML = "Geolocation is not supported by your browser";
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    output.innerHTML = 'Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°';
  };

  function error() {
    output.innerHTML = "No se puede recuperar tu ubicación";
  };
  btn.style.display='none';
  output.innerHTML = "<i class='fa fa-circle-o-notch fa-spin' style='color:#b3b3b3;'></i> Locating…";
  navigator.geolocation.getCurrentPosition(success, error);
}

</script>
</body>
</html>